# Facebook関連の設定
FACEBOOK_PAGE_ID=your_facebook_page_id_here
FACEBOOK_PAGE_ACCESS_TOKEN=your_facebook_page_access_token_here
FACEBOOK_VERIFY_TOKEN=your_facebook_verify_token_here
FACEBOOK_API_LATEST_VERSION=v24.0

# Google Sheets関連の設定
GOOGLE_SHEETS_CREDENTIALS_PATH=your_google_sheets_credentials_file_path_here
GOOGLE_SHEETS_SPREAD_SHEET_KEY=your_google_sheets_spreadsheet_key_here
